# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/draftedge?schema=public"

# App
NEXT_PUBLIC_APP_NAME="ADP Scout"
NEXT_PUBLIC_BASE_URL="http://localhost:3002"
NODE_ENV="development"
PORT=3002
